#Flask==0.10.1
#Flask-Cors==1.10.1
Flask
Flask-Cors
Jinja2
MarkupSafe
Werkzeug
backports.ssl-match-hostname
gevent
gevent-websocket
greenlet>=0.4.14
itsdangerous
redis
six
websocket-client
wsgiref]]]
#simplejson
#flask-jsonpify
